<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>ご入力ありがとうございました</h1>
        <p><hr>名前：{{ output_name }}</p>
        <p><hr>同伴者名：{{ douhan }}</p>
        <p><hr>同伴者名：{{ douhan1 }}</p>
        <p><hr>同伴者名：{{ douhan2 }}</p>
        <p><hr>配属先会社名：{{ company_name }}</p>
        <p><hr>同伴人数：{{ person }}</p>
        <p><hr>担当者名：{{ tantousya }}</p>
        <p><hr>来訪日：{{ dates }}</p>
        <p><hr>来訪時間：{{ times }}</p>
        <p><hr>用件：{{ affair1 }}</p>
        <p><hr>その他：{{ affair2 }}</p>
        <p><hr></p>
    </div>
    <script>
        setTimeout(function(){
            window.location.href = '{% url 'iriguchi' %}';
          }, 10*1000);
    </script>
</body>
</html>