<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>ご入力ありがとうございました</h1>
    <p>名前：{{ output_name }}</p>
    <p>同伴者名：{{ accompany }}</p>
    <p>配属先会社名：{{ company_name }}</p>
    <p>同伴人数：{{ person }}</p>
    <p>担当者名：{{ tantousya }}</p>
    <p>来訪日：{{ dates }}</p>
    <p>来訪時間：{{ time }}</p>
    <p>用件：{{ affair1 }}</p>
    <p>その他：{{ affair2 }}</p>
    </div>
    <script>
        setTimeout(function(){
            window.location.href = '{% url 'iriguchi' %}';
          }, 10*1000);
    </script>
</body>
</html>